link_color = #37a
border_color = #eaeaea

*
    margin 0
    padding 0

body
    font-size 12px
    font-family sans-serif
    line-height 1.62
    color #111

a
    text-decoration none
    color link_color
    cursor pointer

    &:visited
        color #669
    
    &:hover
        color #fff
        background-color link_color


table
    border-collapse: collapse
    border: none 
    padding 0
    margin 0

    h2

    td


#billboard
    width 300px
    margin-bottom 50px
    h2
        color #111111
        padding-bottom 10px
        border-bottom 1px solid border_color
        line-height 150%
        a
            font-size 13px
            margin-left 12px
    
    td
        padding 7px 0
        border-bottom 1px solid border_color
        &:nth-child(2n+1)
            width 20px
            text-align center
            font-size 9px

        &.title
            width 290px
