* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.view.special{
    background-image: linear-gradient(60deg,#f8ddd1,#faece5 73%,#fad2c0);

}

.moon {
    position: absolute;
    width: 283px;
    height: 283px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-image: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/sun.a3f575ae2fef2cfdae15011e6081a094.png);
    background-size: 100%;
}

.art{
    transform: scale(.5);
    transform-origin: top right;
    position: absolute;
    width: 750px;
    height: 1334px;
    right: 0;
    top: -140px;
}
.swing{
    position: absolute;
    left: 226px;
    top: -180px;
    width: 478px;
    height: 1038px;
    background-image: url(./images/a.png);
    animation: ani_qiuqian 6s ease-in-out infinite;
    transform-origin: -16% -29%;
}

@keyframes ani_qiuqian{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0);
    }
}
.leg2{
    display: block;
    position: absolute;
    left: 185px;
    top: 958px;
    width: 130px;
    height: 32px;
    background-color: #000;
    background: url(./images/f.png) no-repeat;
    animation: ani_leg2 8s ease infinite;
    transform-origin: 91% 33%;
}

.leg2 .jiojio{
    display: block;
    position: absolute;
    background: url(./images/g.png) no-repeat;
    left: -27.75px;
    top: -10.5px;
    width: 57px;
    height: 44px;

}

.leg1{
    display: block;
    position: absolute;
    left: 290.375px;
    top: 955.25px;
    width: 63px;
    height: 130px;
    background: url(./images/e.png) no-repeat;
    transform-origin: 17.8571428571429% 13.3653846153846%;
    animation: ani_leg1 8s ease infinite;
}


.leg1 .jiojio{
    display: block;
    position: absolute;
    background: url(./images/h.png) no-repeat;
    left: 30px;
    top: 112.5px;
    width: 57px;
    height: 44px;
    transform: rotate(0deg);
}

@keyframes ani_leg1{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(108deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(108deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes ani_leg2{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-86deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-86deg);
    }
    100%{
        transform: rotate(0);
    }
}

.paras{
    position: absolute;
    left: 10%;
    bottom: 110px;
    line-height: 1.6667;
    letter-spacing: 1px;
    color: #333;
}

.para{
    transition: all 1s ease;
}

.f-aniLineUp{
    opacity: 0;
    transform: translateY(6px);
}

.swiper-slide-active .f-aniLineUp{
    opacity: 1;
    transform: translateY(0);
    transition: all 1.2s ease;
}